* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-color: rgb(1, 1, 65);
}

.search-column {
  background-color: #e2e2e2;
}

#submit {
  display: block;
}

/* Format UV index severity buttons */
.severe {
  background-color: red;
  color: white;
  margin-bottom: 5px;
  border-radius: 8px;
  height: 1.75rem;
}

.moderate {
  background-color: yellow;
  margin-bottom: 5px;
  border-radius: 8px;
  height: 1.75rem;
}

.favorable {
  background-color: green;
  color: white;
  margin-bottom: 5px;
  border-radius: 8px;
  height: 1.75rem;
}

#current-forecast {
  border: 1px solid black;
}